<div data-controller="modal team-form"
     data-action="
      newTeamStarted@window->modal#open
      newTeamStarted@window->team-form#handleNewTeam
      teamEditStarted@window->modal#open
      teamEditStarted@window->team-form#handleTeamEdit
      teamDone@window->modal#close"
     id="team-modal"
>
  <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
    <!-- Modal Inner Container -->
    <div class="max-w-lg max-h-screen w-full relative">
      <!-- Modal Card -->
      <div class="m-1 bg-white rounded shadow">
        <div class="p-8">
          <form data-action="submit->team-form#handleSubmit" id="team-form">
            <section-one data-team-form-target="sectionOne">
              <h2 class="text-xl mb-4">Pick a date for the new team to take effect</h2>
              <effective-date-fields
                id="team-form-modal-fields"
                data-controller="effective-date-fields"
                data-action="datePicked@window->effective-date-fields#handleDatePicked"
                data-effective-date-fields-selected-date-value="<%= selected_date %>"
              ></effective-date-fields>

              <div class="flex justify-end items-center flex-wrap mt-6">
                <button class="btn btn-cancel" data-action="click->modal#close">Cancel</button>
                <button class="btn btn-primary" data-action="click->team-form#handleDatePicked">Next</button>
              </div>
            </section-one>
            <section-two data-team-form-target="sectionTwo" class="hidden">
              <h2 class="text-xl mb-4">Fill in the details</h2>
              <div>
                <div class="form-group">
                  <label for="name">Name of the team</label>
                  <input type="text" class="form-control" name="name" />
                </div>
                <team-form-group class="form-group">
                  <label for="parent_key">Parent Team</label>
                  <select name="parent_key" class="select">
                    <option disabled selected value="">Pick one...</option>
                    <option value="">No Parent/Top Level</option>
                  </select>
                </team-form-group>
                <div class="flex justify-end items-center flex-wrap mt-6">
                  <button class="btn btn-cancel" data-action="click->modal#close">Cancel</button>
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>
            </section-two>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
