=begin
#ChartHop API

#REST API for ChartHop

OpenAPI spec version: V1.0.0
Contact: support@charthop.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.25

=end

require 'uri'

module SwaggerClient
  class AppConfigApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new app config
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAppConfig] :body App config data to create
    # @return [AppConfig]
    def create_app_config(opts = {})
      data, _status_code, _headers = create_app_config_with_http_info(opts)
      data
    end

    # Create a new app config
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAppConfig] :body App config data to create
    # @return [Array<(AppConfig, Fixnum, Hash)>] AppConfig data, response status code and response headers
    def create_app_config_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppConfigApi.create_app_config ...'
      end
      # resource path
      local_var_path = '/v1/app-config'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AppConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppConfigApi#create_app_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Return default app configuration by app
    # 
    # @param app_id App id
    # @param [Hash] opts the optional parameters
    # @return [AppConfig]
    def get_app_config(app_id, opts = {})
      data, _status_code, _headers = get_app_config_with_http_info(app_id, opts)
      data
    end

    # Return default app configuration by app
    # 
    # @param app_id App id
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppConfig, Fixnum, Hash)>] AppConfig data, response status code and response headers
    def get_app_config_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppConfigApi.get_app_config ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling AppConfigApi.get_app_config"
      end
      # resource path
      local_var_path = '/v1/app-config/{appId}'.sub('{' + 'appId' + '}', app_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AppConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppConfigApi#get_app_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Return user app configuration by app and user
    # 
    # @param app_id App id
    # @param user_id User id
    # @param [Hash] opts the optional parameters
    # @return [AppConfig]
    def get_combined_app_config(app_id, user_id, opts = {})
      data, _status_code, _headers = get_combined_app_config_with_http_info(app_id, user_id, opts)
      data
    end

    # Return user app configuration by app and user
    # 
    # @param app_id App id
    # @param user_id User id
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppConfig, Fixnum, Hash)>] AppConfig data, response status code and response headers
    def get_combined_app_config_with_http_info(app_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppConfigApi.get_combined_app_config ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling AppConfigApi.get_combined_app_config"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AppConfigApi.get_combined_app_config"
      end
      # resource path
      local_var_path = '/v1/app-config/{appId}/{userId}'.sub('{' + 'appId' + '}', app_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AppConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppConfigApi#get_combined_app_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update an existing app
    # 
    # @param app_id App id
    # @param user_id User id
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateAppConfig] :body App data to update
    # @return [nil]
    def update_app_config(app_id, user_id, opts = {})
      update_app_config_with_http_info(app_id, user_id, opts)
      nil
    end

    # Update an existing app
    # 
    # @param app_id App id
    # @param user_id User id
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateAppConfig] :body App data to update
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_app_config_with_http_info(app_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppConfigApi.update_app_config ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling AppConfigApi.update_app_config"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AppConfigApi.update_app_config"
      end
      # resource path
      local_var_path = '/v1/app-config/{appId}/{userId}'.sub('{' + 'appId' + '}', app_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppConfigApi#update_app_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
