=begin
#ChartHop API

#REST API for ChartHop

OpenAPI spec version: V1.0.0
Contact: support@charthop.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.25

=end

require 'uri'

module SwaggerClient
  class CommentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Post a comment
    # 
    # @param org_id Org identifier (either id or slug)
    # @param [Hash] opts the optional parameters
    # @option opts [CreateComment] :body Comment data to create
    # @return [Comment]
    def create_comment(org_id, opts = {})
      data, _status_code, _headers = create_comment_with_http_info(org_id, opts)
      data
    end

    # Post a comment
    # 
    # @param org_id Org identifier (either id or slug)
    # @param [Hash] opts the optional parameters
    # @option opts [CreateComment] :body Comment data to create
    # @return [Array<(Comment, Fixnum, Hash)>] Comment data, response status code and response headers
    def create_comment_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentApi.create_comment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling CommentApi.create_comment"
      end
      # resource path
      local_var_path = '/v1/org/{orgId}/comment'.sub('{' + 'orgId' + '}', org_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Comment')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentApi#create_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a comment
    # 
    # @param org_id Org identifier (either id or slug)
    # @param comment_id Comment id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_comment(org_id, comment_id, opts = {})
      delete_comment_with_http_info(org_id, comment_id, opts)
      nil
    end

    # Delete a comment
    # 
    # @param org_id Org identifier (either id or slug)
    # @param comment_id Comment id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_comment_with_http_info(org_id, comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentApi.delete_comment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling CommentApi.delete_comment"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling CommentApi.delete_comment"
      end
      # resource path
      local_var_path = '/v1/org/{orgId}/comment/{commentId}'.sub('{' + 'orgId' + '}', org_id.to_s).sub('{' + 'commentId' + '}', comment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentApi#delete_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Return comments on a particular entity paginated
    # 
    # @param org_id Org identifier (either id or slug)
    # @param entity_id Entity id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from Comment id to start paginating from
    # @option opts [Integer] :limit Number of results to return
    # @return [ResultsComment]
    def find_comments(org_id, entity_id, opts = {})
      data, _status_code, _headers = find_comments_with_http_info(org_id, entity_id, opts)
      data
    end

    # Return comments on a particular entity paginated
    # 
    # @param org_id Org identifier (either id or slug)
    # @param entity_id Entity id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from Comment id to start paginating from
    # @option opts [Integer] :limit Number of results to return
    # @return [Array<(ResultsComment, Fixnum, Hash)>] ResultsComment data, response status code and response headers
    def find_comments_with_http_info(org_id, entity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentApi.find_comments ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling CommentApi.find_comments"
      end
      # verify the required parameter 'entity_id' is set
      if @api_client.config.client_side_validation && entity_id.nil?
        fail ArgumentError, "Missing the required parameter 'entity_id' when calling CommentApi.find_comments"
      end
      # resource path
      local_var_path = '/v1/org/{orgId}/comment/entity/{entityId}'.sub('{' + 'orgId' + '}', org_id.to_s).sub('{' + 'entityId' + '}', entity_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResultsComment')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentApi#find_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Return a particular comment by id
    # 
    # @param org_id Org identifier (either id or slug)
    # @param comment_id Comment id
    # @param [Hash] opts the optional parameters
    # @return [Comment]
    def get_comment(org_id, comment_id, opts = {})
      data, _status_code, _headers = get_comment_with_http_info(org_id, comment_id, opts)
      data
    end

    # Return a particular comment by id
    # 
    # @param org_id Org identifier (either id or slug)
    # @param comment_id Comment id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Comment, Fixnum, Hash)>] Comment data, response status code and response headers
    def get_comment_with_http_info(org_id, comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentApi.get_comment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling CommentApi.get_comment"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling CommentApi.get_comment"
      end
      # resource path
      local_var_path = '/v1/org/{orgId}/comment/{commentId}'.sub('{' + 'orgId' + '}', org_id.to_s).sub('{' + 'commentId' + '}', comment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Comment')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentApi#get_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
