=begin
#ChartHop API

#REST API for ChartHop

OpenAPI spec version: V1.0.0
Contact: support@charthop.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.25

=end

require 'uri'

module SwaggerClient
  class ExchangeRateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Return the exchange rates on a particular date
    # 
    # @param org_id Org identifier (either id or slug)
    # @param date Date to use
    # @param [Hash] opts the optional parameters
    # @return [ExchangeRate]
    def get_exchange_rates(org_id, date, opts = {})
      data, _status_code, _headers = get_exchange_rates_with_http_info(org_id, date, opts)
      data
    end

    # Return the exchange rates on a particular date
    # 
    # @param org_id Org identifier (either id or slug)
    # @param date Date to use
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExchangeRate, Fixnum, Hash)>] ExchangeRate data, response status code and response headers
    def get_exchange_rates_with_http_info(org_id, date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExchangeRateApi.get_exchange_rates ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ExchangeRateApi.get_exchange_rates"
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling ExchangeRateApi.get_exchange_rates"
      end
      # resource path
      local_var_path = '/v1/org/{orgId}/exchange-rate/{date}'.sub('{' + 'orgId' + '}', org_id.to_s).sub('{' + 'date' + '}', date.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExchangeRate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExchangeRateApi#get_exchange_rates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update the USD-based exchange rates for a particular date. Must be the first of a month.
    # 
    # @param org_id Org identifier (either id or slug)
    # @param date Date to use
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateExchangeRate] :body 
    # @return [nil]
    def set_exchange_rates(org_id, date, opts = {})
      set_exchange_rates_with_http_info(org_id, date, opts)
      nil
    end

    # Update the USD-based exchange rates for a particular date. Must be the first of a month.
    # 
    # @param org_id Org identifier (either id or slug)
    # @param date Date to use
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateExchangeRate] :body 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def set_exchange_rates_with_http_info(org_id, date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExchangeRateApi.set_exchange_rates ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ExchangeRateApi.set_exchange_rates"
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling ExchangeRateApi.set_exchange_rates"
      end
      # resource path
      local_var_path = '/v1/org/{orgId}/exchange-rate/{date}'.sub('{' + 'orgId' + '}', org_id.to_s).sub('{' + 'date' + '}', date.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExchangeRateApi#set_exchange_rates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
