=begin
#ChartHop API

#REST API for ChartHop

OpenAPI spec version: V1.0.0
Contact: support@charthop.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.25

=end

require 'uri'

module SwaggerClient
  class MediaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns metadata about a piece of media
    # 
    # @param media_id Media id
    # @param [Hash] opts the optional parameters
    # @return [Media]
    def get_media(media_id, opts = {})
      data, _status_code, _headers = get_media_with_http_info(media_id, opts)
      data
    end

    # Returns metadata about a piece of media
    # 
    # @param media_id Media id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Media, Fixnum, Hash)>] Media data, response status code and response headers
    def get_media_with_http_info(media_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.get_media ...'
      end
      # verify the required parameter 'media_id' is set
      if @api_client.config.client_side_validation && media_id.nil?
        fail ArgumentError, "Missing the required parameter 'media_id' when calling MediaApi.get_media"
      end
      # resource path
      local_var_path = '/v1/media/{mediaId}'.sub('{' + 'mediaId' + '}', media_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Media')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#get_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Upload a new piece of media
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file 
    # @option opts [String] :org_id org identifier, if this media belongs to an org
    # @return [Media]
    def upload_media(opts = {})
      data, _status_code, _headers = upload_media_with_http_info(opts)
      data
    end

    # Upload a new piece of media
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file 
    # @option opts [String] :org_id org identifier, if this media belongs to an org
    # @return [Array<(Media, Fixnum, Hash)>] Media data, response status code and response headers
    def upload_media_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.upload_media ...'
      end
      # resource path
      local_var_path = '/v1/media'

      # query parameters
      query_params = {}
      query_params[:'orgId'] = opts[:'org_id'] if !opts[:'org_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Media')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#upload_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
