=begin
#ChartHop API

#REST API for ChartHop

OpenAPI spec version: V1.0.0
Contact: support@charthop.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.25

=end

require 'uri'

module SwaggerClient
  class OnboardApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns all the onboarding steps the organization has not completed
    # 
    # @param org_id Org identifier (either id or slug)
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :get_uncomplete Return only uncompleted steps, or all steps?
    # @return [ResultsOnboardStep]
    def get_steps(org_id, opts = {})
      data, _status_code, _headers = get_steps_with_http_info(org_id, opts)
      data
    end

    # Returns all the onboarding steps the organization has not completed
    # 
    # @param org_id Org identifier (either id or slug)
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :get_uncomplete Return only uncompleted steps, or all steps?
    # @return [Array<(ResultsOnboardStep, Fixnum, Hash)>] ResultsOnboardStep data, response status code and response headers
    def get_steps_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OnboardApi.get_steps ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OnboardApi.get_steps"
      end
      # resource path
      local_var_path = '/v1/org/{orgId}/onboard'.sub('{' + 'orgId' + '}', org_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'getUncomplete'] = opts[:'get_uncomplete'] if !opts[:'get_uncomplete'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResultsOnboardStep')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OnboardApi#get_steps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Marks the given onboard step as 'skipped' for the given customer
    # 
    # @param org_id Org identifier (either id or slug)
    # @param step_name Step name
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def skip_step(org_id, step_name, opts = {})
      skip_step_with_http_info(org_id, step_name, opts)
      nil
    end

    # Marks the given onboard step as &#39;skipped&#39; for the given customer
    # 
    # @param org_id Org identifier (either id or slug)
    # @param step_name Step name
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def skip_step_with_http_info(org_id, step_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OnboardApi.skip_step ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OnboardApi.skip_step"
      end
      # verify the required parameter 'step_name' is set
      if @api_client.config.client_side_validation && step_name.nil?
        fail ArgumentError, "Missing the required parameter 'step_name' when calling OnboardApi.skip_step"
      end
      # resource path
      local_var_path = '/v1/org/{orgId}/onboard/{stepName}/skip'.sub('{' + 'orgId' + '}', org_id.to_s).sub('{' + 'stepName' + '}', step_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OnboardApi#skip_step\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
