=begin
#ChartHop API

#REST API for ChartHop

OpenAPI spec version: V1.0.0
Contact: support@charthop.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.25

=end

require 'uri'

module SwaggerClient
  class SamlApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Save per org Xml Cert from IDP
    # 
    # @param org_id Org identifier (either id or slug)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idp Identifier Provider
    # @return [nil]
    def get_xml_certificate(org_id, opts = {})
      get_xml_certificate_with_http_info(org_id, opts)
      nil
    end

    # Save per org Xml Cert from IDP
    # 
    # @param org_id Org identifier (either id or slug)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idp Identifier Provider
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_xml_certificate_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SamlApi.get_xml_certificate ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SamlApi.get_xml_certificate"
      end
      # resource path
      local_var_path = '/saml/org/{orgId}/xml-cert'.sub('{' + 'orgId' + '}', org_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'idp'] = opts[:'idp'] if !opts[:'idp'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SamlApi#get_xml_certificate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Return an redirect to the designated Idp, given an identity provider
    # 
    # @param org Org slug
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idp Identifier Provider
    # @return [nil]
    def redirect_to_idp(org, opts = {})
      redirect_to_idp_with_http_info(org, opts)
      nil
    end

    # Return an redirect to the designated Idp, given an identity provider
    # 
    # @param org Org slug
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idp Identifier Provider
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def redirect_to_idp_with_http_info(org, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SamlApi.redirect_to_idp ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling SamlApi.redirect_to_idp"
      end
      # resource path
      local_var_path = '/saml/{org}/login'.sub('{' + 'org' + '}', org.to_s)

      # query parameters
      query_params = {}
      query_params[:'idp'] = opts[:'idp'] if !opts[:'idp'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SamlApi#redirect_to_idp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Single sign on URL, where SAML assertion is perform
    # 
    # @param org Org slug
    # @param [Hash] opts the optional parameters
    # @option opts [String] :saml_response SAML Response
    # @option opts [String] :relay_state Relay State
    # @return [nil]
    def sso(org, opts = {})
      sso_with_http_info(org, opts)
      nil
    end

    # Single sign on URL, where SAML assertion is perform
    # 
    # @param org Org slug
    # @param [Hash] opts the optional parameters
    # @option opts [String] :saml_response SAML Response
    # @option opts [String] :relay_state Relay State
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def sso_with_http_info(org, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SamlApi.sso ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling SamlApi.sso"
      end
      # resource path
      local_var_path = '/saml/sso/{org}'.sub('{' + 'org' + '}', org.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params['SAMLResponse'] = opts[:'saml_response'] if !opts[:'saml_response'].nil?
      form_params['RelayState'] = opts[:'relay_state'] if !opts[:'relay_state'].nil?

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SamlApi#sso\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Save per org Xml Cert from IDP
    # 
    # @param org_id Org identifier (either id or slug)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idp Identifier Provider
    # @option opts [File] :file 
    # @return [nil]
    def upload_xml_certificate(org_id, opts = {})
      upload_xml_certificate_with_http_info(org_id, opts)
      nil
    end

    # Save per org Xml Cert from IDP
    # 
    # @param org_id Org identifier (either id or slug)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idp Identifier Provider
    # @option opts [File] :file 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def upload_xml_certificate_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SamlApi.upload_xml_certificate ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SamlApi.upload_xml_certificate"
      end
      # resource path
      local_var_path = '/saml/org/{orgId}/xml-cert'.sub('{' + 'orgId' + '}', org_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'idp'] = opts[:'idp'] if !opts[:'idp'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SamlApi#upload_xml_certificate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
