=begin
#ChartHop API

#REST API for ChartHop

OpenAPI spec version: V1.0.0
Contact: support@charthop.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.25

=end

require 'uri'

module SwaggerClient
  class SearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Return people, job, group, and field data for a particular org that match a provided search string
    # 
    # @param org_id Org identifier (either id or slug)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :q Query search term
    # @option opts [String] :entity_types Entity types
    # @option opts [Integer] :limit Limit
    # @option opts [BOOLEAN] :include_former Include former users or persons
    # @option opts [Date] :date Date
    # @option opts [String] :scenario_id Scenario Id
    # @return [SearchResultResponse]
    def search_org_data(org_id, opts = {})
      data, _status_code, _headers = search_org_data_with_http_info(org_id, opts)
      data
    end

    # Return people, job, group, and field data for a particular org that match a provided search string
    # 
    # @param org_id Org identifier (either id or slug)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :q Query search term
    # @option opts [String] :entity_types Entity types
    # @option opts [Integer] :limit Limit
    # @option opts [BOOLEAN] :include_former Include former users or persons
    # @option opts [Date] :date Date
    # @option opts [String] :scenario_id Scenario Id
    # @return [Array<(SearchResultResponse, Fixnum, Hash)>] SearchResultResponse data, response status code and response headers
    def search_org_data_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search_org_data ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SearchApi.search_org_data"
      end
      # resource path
      local_var_path = '/v1/org/{orgId}/search'.sub('{' + 'orgId' + '}', org_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'entityTypes'] = opts[:'entity_types'] if !opts[:'entity_types'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'includeFormer'] = opts[:'include_former'] if !opts[:'include_former'].nil?
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?
      query_params[:'scenarioId'] = opts[:'scenario_id'] if !opts[:'scenario_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SearchResultResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_org_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
