<div
  data-controller="modal person-form"
  data-action="
    newPersonStarted@window->modal#open
    personEditStarted@window->modal#open
    personDone@window->modal#close
    newPersonStarted@window->person-form#handleNewPerson
    personEditStarted@window->person-form#handlePersonEdit
  "
  data-person-form-selected-date-value="<%= selected_date %>"
  id="person-form-modal"
>

</div>
