<%= render "shared/effective_date_fields", selected_date: Date.today %>
<br />
<hr/>
<br />
<p>Effective Date Is: <span id="selected_date">???</span></p>
Pick a new selected date:
  <input type="text"
       class="form-control-inline flatpickr-input active"
       data-controller="flatpickr"
       readonly="readonly"
       value="<%= Date.today %>"
       data-effective-date-picker-target="otherDateInput"
       id="selected-date-input"
  />

<script>
  // window.addEventListener("effectiveDatePicked", function(event) {
  //   document.getElementById("selected_date").innerText = event.detail.newDate;
  // });

  const selectedDateInput = document.querySelector("#selected-date-input");

  selectedDateInput.addEventListener('change', (event) => {
    const eventPayload = {
      detail: {
        newDate: event.target.value
      }
    }
    const newDateEvent = new CustomEvent("datePicked", eventPayload)
    window.dispatchEvent(newDateEvent);
  });
</script>
