<script>
  window.addEventListener("effective-date-picker-value-changed", (event) => {
    document.getElementById("selected_date_preview").innerText = event.detail.value;
  });
</script>

<effective-date-fields
  id="style-guide-fields"
  data-controller="effective-date-fields"
  data-action="datePicked@window->effective-date-fields#handleDatePicked"
  data-effective-date-fields-selected-date-value="<%= Date.today %>"
></effective-date-fields>
<br />
<hr/>
<br />
<p>Effective Date Is: <span id="selected_date_preview">???</span></p>
Pick a new selected date:
  <input type="text"
       class="form-control-inline flatpickr-input active"
       data-controller="flatpickr"
       readonly="readonly"
       value="<%= Date.today %>"
       data-effective-date-picker-target="otherDateInput"
       id="selected-date-input"
  />
<script>
  const selectedDateInput = document.querySelector("#selected-date-input");

  selectedDateInput.addEventListener('change', (event) => {
    const eventPayload = {
      detail: {
        newDate: event.target.value
      }
    }
    const newDateEvent = new CustomEvent("datePicked", eventPayload)
    window.dispatchEvent(newDateEvent);
  });
</script>
