<div style="background-color: #4d505a">
  <%= render "shared/simple_date_navigator", selected_date: Date.today %>
</div>
<hr/>

<p>Selected Date Is: <span id="selected_date">???</span></p>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script>
  window.addEventListener("datePicked", function(event) {
    document.getElementById("selected_date").innerText = event.detail.newDate;
  });
</script>
