<div class="row org-chart">
  <div class="px-4">
    <h1><%= t(".title") %></h1>
  </div>
  <%= render "shared/date_navigator", selected_date: @selected_date %>
  <div class="org-chart" data-controller="org-chart"
       data-action="
       newData@window->org-chart#handleNewOrgData
       completeChange@window->org-chart#handleCompleteChange
       cancelChange@window->org-chart#handleCancelChange
      "
       style="padding-left:0; padding-right:0"></div>
  <div data-controller="org-data" data-action="datePicked@window->org-data#handleDatePicked" data-org-data-starting-date-value="<%= @selected_date %>"></div>
  <div data-controller="url-date-manager" data-action="datePicked@window->url-date-manager#handleDatePicked"></div>
</div>

<%= render "shared/new_supervisor_modal", selected_date: @selected_date %>
