<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render partial: "shared/settings_navbar" %>
  </div>

  <div class="w-full lg:w-3/4 lg:p-4">
    <div class="p-4 bg-white border border-gray-200 rounded-lg lg:p-10">
      <% @job_families.each do |job_family| %>
        <div
          data-controller="inline-edit"
          data-inline-edit-model="job_family"
          data-inline-edit-field="name"
          data-inline-edit-form-url="<%= reteamer_api_job_family_path(job_family, format: :json) %>"
          data-inline-edit-input-class="form-control-inline"
          data-inline-edit-display-value="<%= job_family.name %>"
        ></div>
      <% end %>

      <inline-add data-controller="inline-add"
         data-inline-add-model="job_family"
         data-inline-add-field="name"
         data-inline-add-form-url="<%= reteamer_api_job_families_path %>"
         data-inline-add-input-class="form-control-inline"
      >
        <a data-action="click->inline-add#insertForm"><i class="fa fa-plus"></i>Add Another Job Family</a>
      </inline-add>
    </div>
  </div>
</div>
