<div class="fab-container" data-controller="floating-action-menu">
  <div class="fab fab-icon-holder">
    <i class="fas fa-plus"></i>
  </div>

  <ul class="fab-options">
    <% if enabled_menu_options.include? FloatingActionMenu::TEAM %>
      <li data-action="click->floating-action-menu#addTeam">
        <span class="fab-label">Add New Team</span>
        <div class="fab-icon-holder">
          <i class="fas fa-users"></i>
        </div>
      </li>
    <% end %>
    <% if enabled_menu_options.include? FloatingActionMenu::PERSON %>
      <li data-action="click->floating-action-menu#addPerson">
        <span class="fab-label">Add New Person</span>
        <div class="fab-icon-holder">
          <i class="fas fa-user"></i>
        </div>
      </li>
    <% end %>
    <% if enabled_menu_options.include? FloatingActionMenu::ASSIGNMENT %>
      <li>
        <span class="fab-label">Add New Assignment</span>
        <div class="fab-icon-holder">
          <i class="fas fa-network-wired"></i>
        </div>
      </li>
    <% end %>
    <% if(false) %>
      <li onclick="(() => { window.dispatchEvent(new CustomEvent('newProposalStarted', {}) )})()">
        <span class="fab-label">Add New Proposal</span>
        <div class="fab-icon-holder">
          <i class="fas fa-clipboard-list"></i>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<% if enabled_menu_options.include? FloatingActionMenu::PERSON %>
  <%= render "people/person_form_modal", selected_date: selected_date %>
<% end %>

<% if enabled_menu_options.include? FloatingActionMenu::TEAM %>
  <%= render "teams/team_form_modal", selected_date: selected_date %>
<% end %>

<% if enabled_menu_options.include? FloatingActionMenu::PROPOSAL %>
  <%= render "proposal/new_proposal_modal" %>
<% end %>
