<plan-navigator data-controller="plan-navigator">
  <select class="select" data-action="change->plan-navigator#emitPlanPickedEvent">
    <% plan_names.each do |plan_name| %>
      <option value="<%= plan_name %>" <%= plan_name == selected_plan ? "selected" : "" %>><%= plan_name %></option>
    <% end %>
  </select>
</plan-navigator>
