<div class="bg-white border border-gray-200 rounded text-sm font-medium">
  <%= nav_link_to "Job Families", job_families_path, class: "block no-underline p-3 px-6 rounded-t", active_class: "bg-blue-600 text-white hover:text-white", inactive_class: "text-gray-700 hover:text-gray-700 hover:bg-gray-100" %>
</div>
