.chart-container {
  .team-box {
    fill: white;
    stroke: lightgray;
    stroke-width: 1px;
  }

  .team-bar {
    fill: #6d9bb4;
    height: 10px;
  }

  .team-name {
    color: #111672;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  team-details {
    width: 100%;
  }

  team-member-count {

  }

  people-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .fake-root-node {
    display: none;
  }

  .active-drag person-bar {
    background: repeating-linear-gradient(
        45deg,
        #c7ae0c,
        #c7ae0c 10px,
        #b75a0e 10px,
        #b75a0e 20px)
  }

  .drop-target {
    filter: drop-shadow(3px 3px 2px rgba(33, 208, 28, 0.7));
  }

  .person-node {
    background-color: transparent;
    border-radius: 2px;
    overflow: visible;
    display: block;

    .person-button {
      fill: #2b7bb9;
    }

    .person-box {
      fill: white;
      stroke: lightgray;
      stroke-width: 1px;
    }

    img {
      overflow: hidden;
    }

    .employment-id {
      text-anchor: end;
    }

    .person-bar {
      height: 10px;

      &.contractor {
        fill: #465298;
      }

      &.employee {
        fill: #3AB6E3;
      }

      &.openreq {
        fill: #74e776l
      }
    }

    person-info {
      padding: 20px;
      padding-top: 35px;
      text-align: center;
      display: block;
    }

    .person-name {
      fill: #111672;
      font-size: 16px;
      font-weight: bold;
      display: block;
    }

    .person-title {
      color: #404040;
      font-size: 16px;
      margin-top: 4px;
      display: block;
      text-align: center;
    }
  }
}
