.team-chart {
  .team-box {
    fill: white;
    stroke-width: 1px;
    stroke: lightgrey;
  }

  .team-bar {
    fill: #6d9bb4;
    rx:1px;
    ry:1px;
  }
  .team-name {
    color:#111672;
    font-size:20px;
    font-weight:bold;
    text-align: center;
    padding: 10px;
  }

  team-details {
    width:100%;
    display:flex;
    justify-content: flex-end;
    padding-left:15px;
    padding-right:15px;
  }

  .team-member-count {
    padding: 10px;
    text-align: right;
  }
}

.fake-root-node {
  display: none;
}
.activeDrag person-bar {
  background:repeating-linear-gradient(
      45deg,
      #c7ae0c,
      #c7ae0c 10px,
      #b75a0e 10px,
      #b75a0e 20px)
}

.drop-target {
  filter: drop-shadow( 3px 3px 2px rgba(33, 208, 28, 0.7));
}

.person-node {
  fill: white;
  stroke: lightgrey;
  stroke-width: 1px;

  .person-box {
    padding-top:0px;
    background-color:white;
    border:1px solid lightgray;
    display:block;
  }

  img {
    overflow:hidden;
    border:1px solid gray;
  }

  .employment-type {
    margin-right:10px;
    margin-top:15px;
    float:right;
  }

  .person-bar {
    height:10px;

    &.contractor {
      fill: #465298;
    }
    &.employee {
      fill: #3AB6E3;
    }
    &.openreq {
      fill: #74e776;
    }
  }

  person-info {
    padding:20px;
    padding-top:35px;
    text-align:center;
    display:block;
  }

  person-name {
    color:#111672;
    font-size:16px;
    font-weight:bold;
    display:block;
  }

  person-title {
    color:#404040;
    font-size:16px;
    margin-top:4px;
    display:block;
  }
}
