<div class="row flex flex-col h-full">
  <div class="px-4 p-1 bg-blue-200">
    <h1 class="inline-block align-middle"><%= t(".title") %></h1>
  </div>
  <div class="px-4">
    <h3>Sales &amp; Recruiting</h3>
    <h4>When do I need to hire/start more projects?</h4>
    <sales-recruiting-chart data-controller="sales-recruiting-chart"></sales-recruiting-chart>
  </div>
</div>
